<form class="d-flex justify-content-center align-items-center mt-5" [formGroup]="cardForm" (submit)="onSubmit()">


    <div class="column col-md-4">


            <app-input label="Ad Soyad" [control]="$any(cardForm).get('name')"></app-input>
            <app-input label="Kart Numarası" [control]="$any(cardForm).get('cardNumber')" ></app-input>
            <div class="row d-flex justify-content-center">
                <app-input label="Son Kullanma Tarihi" [control]="$any(cardForm).get('expiration')"></app-input>
                <app-input label="Güvenlik Kodu" [control]="$any(cardForm).get('securityCode')" > </app-input>
            </div>
            
            
            <div class="btn-group"> 
                
                <button class="btn btn-primary" [disabled]="cardForm.invalid" type="submit">Kaydet</button>
                <button class="btn btn-danger" type="reset" (click)="resetForm()">Sıfırla</button>
            </div>
            

    </div>

   

  

</form>






